#navbar {
    overflow: hidden;
    background-color:#456f93;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    margin-left: 0px;
  }
  
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
#navbar a:hover {
    background: #ddd;
    color: black;
}

img {
    margin-top: 80px;
    display: block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

img:hover {
   opacity: 0.5; 
}

h1, h2 {
    text-align: center;
}

h1:hover {
    color: #456f93;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #cddbe7;
    margin: 0px;
}

.section{
    background-color: #9bb7d0;
    width: 60%;
    border: 2px solid #253a4e;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

article{
    position: relative;
    width: 100%;
}

section h3, section ul, section p{
    margin:10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

footer p {
    text-align: end;
}